page-register {
  .re-hed{
    text-align:center;
    background:#38bebd;
  }
  .re-hed div{
    font-size: 35px;
    color: #0c4b5a;
    padding: 10px;
  }
  .re-hed button{
    margin-top: 10px;
  }
  .for-tex{
    text-align: center;
    color: #38bebd;
    padding: 10px;
    margin-top: 0px;
  }
}
